.mainMenuApp {
  display: flex; 
  justify-content: flex-start;
  flex-direction: row; 
  overflow: hidden;
  width: 100%;
  min-height: 16rem;
  max-height: 16rem;
}

.menuDrawer {
  height: 100%;
  min-height: 100%;
  background-color: #eee;
  color: black;
  flex-grow: 0;
  overflow: auto scroll;
  padding: 0 0.5rem;
  flex: 1
}

.contentFrame {
  display: flex; 
  justify-content: center; 
  color: black;
  background-color: white;
  overflow: auto scroll;
  flex: 1.5;
}

.content {
  align-self: center
}